@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: "Poppins", serif;
}

/* Estilos específicos para impresión */
:root {
  --page-width: 297mm;
  --page-height: 391mm;
}

@media print {
  .cv-container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    zoom: 110%;
  }

  @page {
    size: var(--page-width) var(--page-height);
    margin: 0;
  }

  /* Asegurar que los colores se impriman correctamente */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
